@font-face {
    font-family: Hanken-Light;
    src: url("assets/fonts/Hanken-Light.ttf");
}
@font-face {
    font-family: Hanken-Book;
    src: url("assets/fonts/Hanken-Book.ttf");
}
@font-face {
    font-family: Arkhip-Font;
    src: url("assets/fonts/Arkhip_font.otf");
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);

body{
    font-family: Hanken-Light, serif !important;
    overflow-x: hidden;
}

.heading{
    background: #239570;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 7px 7px 9px rgba(38, 38, 38, 0.51);
    -moz-box-shadow: 7px 7px 9px rgba(38, 38, 38, 0.51);
    box-shadow: 7px 7px 9px rgba(38, 38, 38, 0.51);
}
.uk-heading-hero{
    font-family: Arkhip-Font, serif !important;
    color: #fff138;
    text-shadow: 1px 1px 1px rgba(255, 241, 56, 0.71);
}
.heading .uk-text-lead{
    font-family: Hanken-Book, serif !important;
    color: white;
    text-shadow: 1px 1px 1px rgba(32, 133, 99, 0.72);
}

.navigation_bar{
    background: #208563;
    font-family: Hanken-Book, serif !important;
}

.uk-navbar-nav li img {
  margin-right: 0.2em;
  width: 45px;
  max-width: 100%;
  max-height: 45px;
}

.uk-navbar-nav li .link{
    color: #fff138 !important;
    font-weight: 100 !important;
}
.uk-navbar-nav li .link:hover{
    color: #cfc22e !important;
    font-weight: 800 !important;
}
.uk-navbar-nav .uk-active .link{
    color: #d1c52b !important;
    font-weight: 900 !important;
}
.uk-navbar-nav .uk-button-default{
    background-color: #fff138 !important;
    border: none;
    transition-duration: 0.2s;
}
.uk-navbar-nav .uk-button-default .sub{
    color: #239570;
    transition-duration: 0.1s;
}
.uk-navbar-nav .uk-button-default:hover{
    background-color: #239570 !important;
    border: none;
    transition-duration: 0.7s;
}
.uk-navbar-nav .uk-button-default .sub:hover{
    color: #fff138;
    transition-duration: 0.6s;
}

.article1 h1{
    font-family: Arkhip-Font, serif !important;
    color: #c02e1d;
    text-shadow: 1px 1px 1px rgba(226, 30, 24, 0.71);
}
.article{
    background: #fff;
    color: #E21E18;
    padding: 10%;
}
.articles div article h1{
    font-family: Arkhip-Font, serif !important;
    color: #fff138;
    text-shadow: 1px 1px 1px rgba(201, 189, 47, 0.71);
}
.articles{
    background: #239570;
    color: #fff;
}
.you{
    background-color: rgba(0, 0, 0, 0.75);
}

.corevalues{
    background: #fff;
    color: white;
}
.corevalues h2{
    font-family: Arkhip-Font, serif !important;
    color: #c02e1d;
    text-shadow: 1px 1px 1px rgba(192, 46, 29, 0.71);
}
.corevalues ul li a{
    color: #c02e1d;
    font-family: Hanken-Book, serif !important;
    text-shadow: 1px 1px 1px rgba(192, 46, 29, 0.71);
}
.corevalues ul li a:hover{
    color: #7a1612;
    font-family: Hanken-Book, serif !important;
    text-shadow: 1px 1px 1px rgba(192, 46, 29, 0.71);
}
.corevalues ul li div{
    color: #c02e1d;
    font-family: Hanken-Light, serif !important;
    font-weight: 100;
}


.landing-background {
  min-height: 91vh;
  height: 91vh;
  background-image: url(assets/mountain-background.jpg);
}

.echo-card {
  padding: 50px;
}

.uk-card-body {
  padding: 0;
}
.cards{
    background-color: #239570;
    padding: 10%;
}
.card{
    background-color: #fff;
}
.card:hover{
    transition-duration: 1s;
    transform: scale(1.1);
    z-index: 100;
}
.image:hover{
    transition-duration: 1s;
    transform: scale(1.1);
    z-index: 100;
}
.cards h2{
    font-family: Arkhip-Font, serif !important;
    color: #c02e1d;
    text-shadow: 1px 1px 1px rgba(192, 46, 29, 0.71);
    text-transform: uppercase;
}
.cards .uk-button-default{
    margin: 2px;
    color: #c02e1d;
    border: 1px solid #892318;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    transition-duration: 0.2s;
}
.cards .uk-button-default:hover{
    margin: 2px;
    color: #fff;
    border: 1px solid #8a2418;
    background-color: #c02e1d;
    font-weight: 700;
    transition-duration: 0.8s;
}

.footer{
    z-index: 4;
    transform: scale(1.001);
    transition-duration: 0.3s;
    box-shadow: 0px 10px 10px rgba(77, 77, 77, 0.25);
}
.mc_embed_signup{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.footer:hover{
    z-index: 10;
    transform: scale(1.1);
    transition-duration: 0.8s;
    box-shadow: 0px 10px 10px rgba(77, 77, 77, 0.25);
}
.footer div form fieldset legend{
    color: #c02e1d;
    font-family: Arkhip-Font, serif !important;
    text-shadow: 1px 1px 1px rgba(192, 46, 29, 0.71);
}
.footer div form fieldset div input{
    background: transparent;
    border: none;
    color: #c02e1d !important;
    font-weight: bold !important;
    border-bottom: 1px solid rgba(192, 46, 29, 0.71);
}
.footer div form fieldset div input:focus{
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(192, 46, 29, 0.71);
}
.footer div form fieldset div input::placeholder{
    color: rgba(192, 46, 29, 0.60);
    font-weight: bold;
}
.footer div form fieldset div input:hover::placeholder{
    color: rgba(192, 46, 29, 0.4);
    font-weight: bold;
}
.footer .uk-form-icon{
    color: #c02e1d;
}
.footer .uk-button-default{
    margin: 2px;
    color: #c02e1d;
    border: 1px solid #8a2317;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    transition-duration: 0.2s;
}
.footer .uk-button-default:hover{
    margin: 2px;
    color: #fff;
    border: 1px solid #8a241b;
    background-color: #c02e1d;
    font-weight: 700;
    transition-duration: 0.8s;
}

.quote{
    background-color: #f8cc38;
    color: #1c6f51;
    text-shadow: 1px 1px 1px rgba(32, 127, 95, 0.53);
    font-weight: 700;
    z-index: 1;
    box-shadow: 1px 10px 15px rgba(48, 48, 48, 0.51);
}
.quote .uk-text-muted{
    color: rgba(32, 127, 95, 0.63) !important;
}

.icon{
    background-color: #fff;
    z-index: 4;
    transform: scale(1.03);
    box-shadow: 0px -10px 10px rgba(77, 77, 77, 0.25);
}
.linkedin{
    color: #0077b5;
    transition-duration: 0.2s;
    text-shadow: 2px 2px 1px white;
}.linkedin:hover{
     color: #000;
    transform: scale(1.2);
    transition-duration: 0.5s;
 }
.instagram{
    color: #d64f62;
}.instagram:hover{
     color: #000;
     transform: scale(1.2);
     transition-duration: 0.5s;
 }
.twitter{
    color: #1da1f2;
}.twitter:hover{
     color: #000;
     transform: scale(1.2);
     transition-duration: 0.5s;
 }
.facebook{
    color: #3b5998;
}.facebook:hover{
     color: #000;
     transform: scale(1.2);
     transition-duration: 0.5s;
 }
 .youtube{
     color: #ff0000;
 }
 .youtube:hover{
     color: #000;
     transform: scale(1.2);
     transition-duration: 0.5s;
 }
.copyright{
    color: #691911;
    text-transform: uppercase;
    font-weight: bold;
}
.uk-text-medium {
    font-size: 1.1875rem;
    line-height: 1.5;
}
[class*='uk-animation-'] {
    animation-duration: 1s !important;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}


.frontpage-quote-cnt {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1.3em; 
}

.frontpage-quote-cnt h1 {
    font-family: Hanken-Light, serif;
    font-weight: bold;
}

.frontpage-quote-cnt .fp-quote {
    font-family: Georgia;
    font-style: italic;
    font-size: 2.2em;
}

.frontpage-quote-cnt .fp-quote:before {
    font: 6em/1.08em 'Georgia', sans-serif;
    color: #ccc;
    content: '\201C';
    font-size: 6em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.6em;
}

.frontpage-quote-cnt author {
    float: right;
    font-size: 1.4em;
}


article div.uk-container.otherpage-text p {
    font-size: 1.2em
}

article div.uk-container.otherpage-text h1 {
    margin-bottom: 1.83em;
}

article.article-green {
    background-color: #239570;
    color: white;
}

article.article-green h1 {
    color: #fff138
}

a.card-outer-link:hover {
    text-decoration: none;
}

/*

@media(min-width: 1024px) {
    #cnt-social-media-buttons {
        margin-left: 300px;
    }
    #cnt-social-media-buttons img {
        margin-top: -240px;
    }
}
@media(max-width: 1024px) {
    #cnt-social-media-buttons img {
        display: none;
    }
}
*/
