body, html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.wrapper{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 4vw 45vw 45vw 4vw;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    grid-column-gap: 0.4vw;
    grid-row-gap: 1vh;
}
.one{
    grid-column: 2/4;
    grid-row: 1;
    background-color: #239570;
}
.two{
    grid-column: 2/3;
    grid-row: 2;
    background-color: #239570;
}
.three{
    grid-column: 3/4;
    grid-row: 3;
    background-color: #239570;
}
.four{
    grid-column: 2/3;
    grid-row: 4;
    background-color: #239570;
}