@font-face {
    font-family: Hanken-Light;
    src: url("assets/fonts/Hanken-Light.ttf");
}
@font-face {
    font-family: Hanken-Book;
    src: url("assets/fonts/Hanken-Book.ttf");
}
@font-face {
    font-family: Arkhip-Font;
    src: url("assets/fonts/Arkhip_font.otf");
}

body{
    font-family: Hanken-Light, serif !important;
}

.heading{
    background: #239570;
    color: #fff138;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 7px 7px 9px rgba(38, 38, 38, 0.51);
    -moz-box-shadow: 7px 7px 9px rgba(38, 38, 38, 0.51);
    box-shadow: 7px 7px 9px rgba(38, 38, 38, 0.51);
}
.uk-heading-hero{
    font-family: Arkhip-Font, serif !important;
    color: #fff138;
    text-shadow: 1px 1px 1px rgba(253, 203, 67, 0.72);
}
.heading .uk-text-lead{
    font-family: Hanken-Book, serif !important;
    color: #fff138;
    text-shadow: 1px 1px 1px rgba(253, 203, 67, 0.72);
}

.navigation_bar{
    background: #208563;
    font-family: Hanken-Book, serif !important;
}
.uk-navbar-nav li a{
    color: #fff138 !important;
    font-weight: 100 !important;
}
.uk-navbar-nav li a:hover{
    color: #FFF138 !important;
    font-weight: 500 !important;
}
.uk-navbar-nav .uk-active a{
    color: #FFF138 !important;
    font-weight: 900 !important;
}

.articles div article h1{
    font-family: Arkhip-Font, serif !important;
    color: #fff138;
    text-shadow: 1px 1px 1px rgba(253, 203, 67, 0.72);
}
.articles{
    background: #239570;
    color: #fff138;
}

.corevalues{
    background: #FFF138;
    color: #239570;
}
.corevalues h2{
    font-family: Arkhip-Font, serif !important;
    color: #239570;
    text-shadow: 1px 1px 1px rgba(21, 107, 79, 0.5);
}
.corevalues ul li a{
    color: #239570;
    font-family: Hanken-Book, serif !important;
    text-shadow: 1px 1px 1px rgba(21, 107, 79, 0.5);
}
.corevalues ul li a:hover{
    color: #25a780;
    font-family: Hanken-Book, serif !important;
    text-shadow: 1px 1px 1px rgba(21, 107, 79, 0.5);
}
.corevalues ul li div{
    color: #239570;
    font-family: Hanken-Light, serif !important;
    font-weight: 100;
}

.footer{
    background: #239570;
}
.footer div form fieldset legend{
    color: #FFF138;
    font-family: Arkhip-Font, serif !important;
    text-shadow: 1px 1px 1px rgba(253, 203, 67, 0.72);
}
.footer div form fieldset div input{
    background: transparent;
    border: none;
    border-bottom: 1px dotted #f8cc38;
    color: #FFF138 !important;
}
.footer div form fieldset div input:focus{
    background: transparent;
    border: none;
    border-bottom: 1px dotted #FFF138;
}
.footer div form fieldset div input::placeholder{
    color: rgba(255, 241, 56, 0.5);
}
.footer .uk-form-icon{
    color: #FFF138;
}

.uk-text-medium {
    font-size: 1.1875rem;
    line-height: 1.5;
}